{{>head}}
{{>navbar}}

 <div class="row">

     <div class = "col-8" >
         <h1>CURSO DE JAVA</h1>
         <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque consequuntur, voluptate omnis placeat ipsam corporis, vel ab harum ex magni iusto impedit optio quia rerum, ducimus ipsum eos porro sint!</P>
     </div>

       <div class = "col-4" >
         <img src="assets/img/Captura de Pantalla 2021-01-15 a la(s) 3.31.09.png" class="img-thumbnail">
     </div>
     
 </div>

{{>footer}}